name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: 154.29.76.170
          username: projeto-m
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            export PATH=$PATH:/usr/local/go/bin:$HOME/.bun/bin
            cd /opt/projeto-m
            bash scripts/deploy_pull.sh
            bash scripts/deploy_frontend.sh
            bash scripts/deploy_backend.sh
            bash scripts/deploy_caddy.sh
            bash scripts/deploy_restart_services.sh
